/* 전체 */
* {
  font-family: "Noto Sans KR", sans-serif;
}
body,
h1,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #111111;
  display: inline-block;
}
button {
  cursor: pointer;
}

/* overflow */
.overflow-hidden {
  overflow: hidden;
}

/* 보더 */
.border-05 {
  border-width: 0.5px;
  border-style: solid;
}
.border-1 {
  border-width: 1px;
  border-style: solid;
}
.border-none {
  border: none;
}
.outline-none {
  outline: none;
}

/* flex */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.items-start {
  align-items: start;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: end;
}
.text-center {
  text-align: center;
}

/* fixed */
.fixed {
  position: fixed;
}
.left-0 {
  left: 0;
}
.left-50 {
  left: 50%;
}
.top-0 {
  top: 0;
}
.top-50 {
  top: 50%;
}
.right-0 {
  right: 0;
}

/* absolute */
.absolute {
  position: absolute;
}

/* relative */
.relative {
  position: relative;
}

.none {
  display: none;
}

/* size */
.w-24 {
  width: 24px;
}
.w-50 {
  width: 50px;
}
.w-80 {
  width: 80px;
}
.w-260 {
  width: 260px;
}
.w-400 {
  width: 400px;
}
.w-500 {
  width: 500px;
}
.w-80p {
  width: 80%;
}
.w-100p {
  width: 100%;
}
.w-500p {
  width: 500%;
}
.w-100v {
  width: 100vw;
}
.h-24 {
  height: 24px;
}
.h-50 {
  height: 50px;
}
.h-80 {
  height: 80px;
}
.h-22 {
  height: 22px;
}
.h-44 {
  height: 44px;
}
.h-100p {
  height: 100%;
}
.h-100v {
  height: 100vh;
}

/* transform */
.trans-center {
  transform: translate(-50%, -50%);
}

.anim {
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

/* margin */
.ml-14 {
  margin-left: 14px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-12 {
  margin-right: 12px;
}
.mr-16 {
  margin-right: 16px;
}
.mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mt-6 {
  margin-top: 6px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-32 {
  margin-top: 32px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-120 {
  margin-top: 120px;
}
.mt-154 {
  margin-top: 154px;
}
.mt-248 {
  margin-top: 248px;
}
.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* padding */
.p-0 {
  padding: 0;
}
.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}
.px-14 {
  padding-left: 14px;
  padding-right: 14px;
}
.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}
.px-25 {
  padding-left: 25px;
  padding-right: 25px;
}
.px-120 {
  padding-left: 120px;
  padding-right: 120px;
}
.pt-8 {
  padding-top: 8px;
}
.pt-12 {
  padding-top: 12px;
}
.pb-26 {
  padding-bottom: 26px;
}
.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-9 {
  padding-top: 9px;
  padding-bottom: 9px;
}
.py-11 {
  padding-top: 11px;
  padding-bottom: 11px;
}
.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* round */
.round-6 {
  border-radius: 6px;
}
.round-full {
  border-radius: 999px;
}

.trans-color {
  background-color: transparent;
}

.footer {
  background-image: url("../img/wave-s.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sidebar .plus-btn:hover {
  background-color: #f1f1f1;
}

.sidebar button:hover,
.sidebar .date-title-tab:hover {
  background-color: #e0e0e0;
}
